* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color:  rgb(247, 244, 244);
    font-family: Arial, sans-serif;
}

section {
    padding: 20px;
}

.banner {
    height: 100vh; 
    padding: 20px; 
    background-image: url("./img/banner.jpg"); 
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: rgba(226, 208, 184, 0.24); 
    max-width: 800px; 
    width: 90%;
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    color: #dbd3d3; 
}

.perfil-conteiner {
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);
    padding: 10px;
}

.presentacion h2 {
    text-align: center;
}

h1 {
    padding: 5px;
    font-size: 50px;
    color: rgb(236, 185, 74);
}

.banner img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.about-me h2,
.about-me p { 
    text-align: center;
    padding: 15px; 
    font-size: 23px;
}

.about-me p {
    padding: 15px;
    font-size: 20px;
    color: #666;
}

.skills {
    text-align: center;
    padding-bottom: 20px;
}


.grid-conteiner {
    display: grid;
    background-color: rgb(247, 244, 244);
    gap: 30px;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.grid-item { 
    background-color:  rgb(247, 244, 244);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.295);
    cursor: pointer;
}
    .grid-item:hover {
    transform: translateY(-20px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.grid-item h3 { 
    font-size: 23px;
    padding: 10px;
}


.grid-item p { 
    font-size: 20px;
    color: #666;
    line-height: 1.6;
}

.contact-section {
    background-color: #f8f8f8; /* Un fondo ligeramente diferente para la sección */
    padding: 60px 20px; /* Más padding para que tenga aire */
    text-align: center; /* Centra el título H2 */
    }

.contact-section h2 {
    color: #333333; 
    margin-bottom: 40px; 
    font-size: 36px;
    }

.contact-form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 30px;
    background-color:   rgb(247, 244, 244);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form-group {
    text-align: left;
    display:flex;
    flex-direction: column;

}

.form-group label {
    font-size: 18px;
    color: #666; 
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #666666;
    background-color: #ffffff80;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: rgba(236, 185, 74, 0.667); 
    outline: none; 
    
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight:400;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.604);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
    background-color:rgb(248, 214, 79); 
    

}

.social-links li {
    padding: 10px;
}
.social-links ul, a, li {
    list-style: none;
    display: inline-block;
}